body {
    text-align: center;
}

.fade {
  visibility: hidden;
  opacity: 0;
}

.modal-content{
  text-align: center;
}

.fade:target {
  visibility: visible;
}

.show {
  margin-left: 270px;
  margin-top: 120px;
  position: fixed;
  visibility: visible ;
  opacity: 100 ;
}
